.backlog, .taskboard, .projects {
    float: left;
}

.backlog:hover, .taskboard:hover, .logout:hover , .projects:hover{
    background-color: steelblue;
}
.logout {
    cursor: pointer;
}

.projects_button, .new_task_button, .create_task_button {
    background: #4CAF50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Arial";
    color: white;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    width: 130px ;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}

.projects_button, .projects_button:hover {
    background-image: url("../img/sort_down.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 105px 7px;
}

.projects_button:hover, .new_task_button:hover, .create_task_button:hover {
    background-color: #3cb0fd;
}

.new_task_button, .new_task_button:hover {
    background-image: url("../img/sort_down.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 105px 7px;
    display: inline-block;
    margin-left: 20px;
}

.project_loader{
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left: 600px;
}

@media (max-width: 665px) {
    .project_loader, .new_task_button {
        margin-top: 90px;
    }
}

.projects_content {
    display: none;
    position: absolute;
    height: auto;
    width: 195px;
    background-color: rgba(3,3,3,0.5);
}

.projects_content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.projects_content a:hover {
    background-color: rgba(3,3,3,0.3);
    cursor: pointer;
}

.new_task, #task_name, #task_description, #task_type, #task_priority, #votes, #task_project ,.tasks{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(3,3,3,0.5);
    color: white;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 7px;
    outline: none;
    margin: auto;
    width: 500px;
    display: block;
    text-align: center;
    text-align-last: center;
    font-family: "Arial";
    resize: none;
}

select {
    cursor: pointer;
}

select option {
    background: rgba(0, 0, 0, 0.31);
}

.new_task{
    z-index: 20;
    display: none;
}

#task_name, #task_description, #task_type, #task_priority, #votes, #task_project ,.create_task_button {
    width: 400px;
    margin: 2% auto 3%;
}

#task_description {
    height: 300px;
}

.tasks{
    height: auto;
    width: 800px;
    margin-left: 20px;
    margin-top: 20px;
}



