.backlog, .taskboard, .projects {
    float: left;
}

.backlog:hover, .taskboard:hover, .logout:hover , .projects:hover{
    background-color: steelblue;
}
.logout {
    cursor: pointer;
}

input, textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(3,3,3,0.5);
    color: white;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 7px;
    outline: none;
    margin-left: 35%;
    display: flex;
}

.modify_task {
    position: absolute;
    margin-top: 20px;
    margin-left: 1140px;
    width: 350px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(3,3,3,0.25);
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.3);
}

::-webkit-input-placeholder {
    color: #ddd;
}

textarea::-webkit-input-placeholder, textarea:-moz-placeholder,
textarea::-moz-placeholder, textarea:-ms-input-placeholder  {
    color: #ddd;
}

.projects_button, .new_task_button, .create_task_button, #save_modify_button{
    background: #4CAF50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Arial";
    color: white;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    width: 130px ;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}

.projects_button, .projects_button:hover {
    background-image: url("../img/sort_down.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 105px 7px;
}

.new_task_button, .new_task_button:hover {
    background-image: url("../img/sort_down.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 105px 7px;
    display: block;
    position: relative;
    margin: 60px auto 3%;
}

.projects_button:hover, .new_task_button:hover, .create_task_button:hover {
    background-color: #3cb0fd;
}

@media (max-width: 665px) {
    .new_task_button, .new_task_button:hover {
        margin: 100px auto 3%;
    }
    .tasks {
        margin-top: 20px;
    }
}

@media (min-width: 1600px) {
    .tasks, .modify_task {
        zoom: 105%;
    }
}

.new_task, #task_name, #task_description, #task_type, #task_priority, #votes, #task_project ,.tasks, #current_task_type,
#current_task_priority {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(3,3,3,0.5);
    color: white;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 7px;
    outline: none;
    margin: auto;
    width: 500px;
    display: block;
    text-align: center;
    text-align-last: center;
    font-family: "Arial";
    resize: none;
}

select {
    cursor: pointer;
}

select option {
    background: rgba(0, 0, 0, 0.31);
}

.new_task{
    z-index: 20;
    display: none;
}

#task_name, #task_description, #task_type, #task_priority, #votes, #task_project ,.create_task_button {
    width: 400px;
    margin: 2% auto 3%;
}

#task_description {
    height: 300px;
}

.tasks{
    height: auto;
    width: 1100px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    display: inline-block;
}

.task_table {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#999;
}

.task_table td {
    font-family: Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#3cb0fd;
    color: white;
    background: rgba(3,3,3,0.5);
    border-top-width:1px;
    border-bottom-width:1px;
    height: 10px;
}

.task_table th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color: #3cb0fd;
    color:#fff;
    background-color:#4CAF50;
    width: 150px;
}

.task_table tr:hover {
    background-color: #3cb0fd;
    cursor: pointer;
}

.task_table .column_name {
    vertical-align:top
}

#id_column, #votes_column {
    width: 50px;
}

#description_column {
    width: 400px;
}

#task_description_data, #task_name_data {
    height: 15px;
    overflow: hidden;
}

#current_task_name {
    width: 315px;
    height: 25px;
    margin-top:3%;
    margin-left:5%;
}

#current_task_description {
    height: 200px;
    width: 315px;
    margin-top:3%;
    margin-left:5%;
    resize: none;
}

#modify_task {
    font-family: "Arial";
    text-align: center;
    color: white;
}

#current_task_priority, #current_task_type, #current_task_votes, #current_task_name, #current_task_description,
#save_modify_button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 315px;
    margin-left: 20px;
    text-align: center;
}


