.backlog, .taskboard, .projects{
    float: left;
}

.backlog:hover, .taskboard:hover, .logout:hover, .projects:hover{
    background-color: steelblue;
}
.logout {
    cursor: pointer;
}

textarea {
    font-family: "Arial";
    padding: 7px;
    outline: none;
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    resize: none;
}

.new_project {
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
    width: 350px;
    display: inline-block;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    border: 1px solid rgba(3,3,3,0.25);
}

.my_projects {
    position: absolute;
    margin-top: 70px;
    margin-left: 390px;
    width: 730px;
    height: auto;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(3,3,3,0.25);
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}

.modify_project {
    position: absolute;
    margin-top: 70px;
    margin-left: 1140px;
    width: 350px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(3,3,3,0.25);
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}

@media (min-width: 1600px) {
    .new_project, .my_projects, .modify_project {
        zoom: 105%;
    }
}

input, textarea, .team{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(3,3,3,0.5);
    color: white;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 7px;
    outline: none;
    margin-left: 35%;
    display: flex;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.3);
}

::-webkit-input-placeholder {
    color: #ddd;
}

textarea::-webkit-input-placeholder, textarea:-moz-placeholder,
textarea::-moz-placeholder, textarea:-ms-input-placeholder  {
    color: #ddd;
}

#project_name, #project_description {
    width: 315px;
    margin-top:3%;
    margin-left:5%;
}

#project_name {
    height: 25px;
}

#project_description {
    height: 300px;
}

#current_project_name {
    width: 315px;
    height: 25px;
    margin-top:3%;
    margin-left:5%;
}

#current_project_description {
    height: 200px;
    width: 315px;
    margin-top:3%;
    margin-left:5%;
}

#create_project_button, #delete_project_button, #delete_member_button, #add_member_button, #plus, #save_modify_button{
    background: #4CAF50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Arial";
    color: white;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    width: 315px ;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
}

#add_member_button {
    background-image: url("../img/sort_down.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 115px 5px;
    cursor: pointer;
    display: inline-block;
}

#add_member_button:hover {
    background: #3cb0fd;
    text-decoration: none;
    background-image: url("../img/sort_down.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 115px 5px;
    cursor: pointer;
}

#plus{
    background-image: url("../img/add.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(3,3,3,0.5);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
}

#create_project_button:hover, #delete_project_button:hover, #delete_member_button:hover, #save_modify_button:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
}

#new_project, #my_projects, #modify_project {
    font-family: "Arial";
    text-align: center;
    color: white;
}

.project {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    height: 100px;
    width: 150px;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 5%;
    border-radius: 4px;
    box-shadow: 5px 5px 1px rgba(3,3,3,0.5);
    overflow: hidden;
}

.project:hover {
    cursor: pointer;
    background-color: #3cb0fd;
    border: 1px solid #3cb0fd;
}

#projectNameText {
    font-family: "Arial";
    text-align: center;
    margin-top: 3%;
}

#descriptionText {
    font-family: "Arial";
    text-align: center;
    margin-top: 1%;
    font-size: 12px;
}

#error {
    font-family: "Arial";
    color: red;
    font-size: 12px;
    margin-left: 5%;
    margin-top: 1%;
    display: block;
}

.team {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 18px;
    width: 315px;
    height: 140px;
    text-align: center;
    display: block;
    overflow-y: scroll;
}

.team p {
    margin-top: 0;
    margin-bottom: 3%;
}

#username {
    width: 250px;
    margin-left: 5%;
    display: inline-block;
}

#username, #plus {
    display: none;
}

#delete_member_button, #add_member_button {
    width: 146px;
    display: inline-block;
    margin-bottom: 2px;
}

#add_member_button {
    padding-left: 10px;
}

