body {
    margin:0;
    background-image: url("../img/background_image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: dodgerblue;
    z-index: 9999;
}

li {
    background-color: dodgerblue;
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4CAF50;
    float: right;
    font-family: "Arial";
}

li .backlog, li .taskboard, li .projects, li .team {
    width: 160px;
}

li .backlog, li .taskboard, li .user {
    border-right: 1px solid green;
}

li .backlog {
    border-left: 1px solid green;
}

.backlog, .taskboard, .projects, .team {
    float: left;
}

.logout {
    cursor: pointer;
}

.user:hover, .backlog:hover, .taskboard:hover, .logout:hover, .projects:hover, .team:hover {
    background-color: steelblue;
}

@media (max-width: 1366px) {
    li {
        zoom: 90%;
    }
}