input, textarea, select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(3,3,3,0.5);
    color: white;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 7px;
    outline: none;
    font-family: "Arial";
    text-align: center;
    resize: none;
    width: 200px;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,0.3);
}

button {
    background: #4CAF50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Arial";
    color: white;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    width: 130px ;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3cb0fd;
}


#project_name_header {
    font-family: Arial;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.users {
    width: 200px;
    margin-left: 580px;
}

#add_member_button {
    width: 200px;
    margin-left: 580px;
}

.members {
    min-height: 400px;
    height: auto;
    width: 1320px;
    margin-left: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    border: 1px solid rgba(3,3,3,0.25);
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}

#members {
    font-family: Arial;
    color: white;
    text-align: center;
}

.member {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    height: 120px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 1px rgba(3,3,3,0.5);
    overflow: hidden;
}

.member h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    color: khaki;
}

.member p {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px;
}