.login_body {
    position: relative;
    margin: auto;
    top: 70px ;
    right: 0;
    bottom: 0;
    left: 0;
    width: 700px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}

.signup:hover {
    background-color: steelblue;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(3,3,3,0.5);
    color: white;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 7px;
    outline: none;
    margin-left: 35%;
    display: flex;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.3);
}

::-webkit-input-placeholder {
    color: #ddd;
}

#welcome {
    font-family: "Arial";
    margin-top: 2%;
    font-size: 30px;
    text-align: center;
}

#loginto, #notmember{
    font-family: "Arial";
    font-size: 16px;
    margin-left: 35%;
}

#welcome, #notmember, #loginto {
    color: white;
}

#notmember {
    margin-top: 7%;
}

#login_button {
    background: #4CAF50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Arial";
    color: white;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    width: 180px ;
    text-decoration: none;
    margin-left: 35%;
    margin-top: 3%;
    border: none;
}

#login_button:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
}

#error {
    font-family: "Arial";
    color: #ff0018;
    font-size: 12px;
}

#logged_out {
    font-family: "Arial";
    color: #3cb0fd;
    font-size: 12px;
    margin-left: 35%;
}
