.backlog, .taskboard, .projects{
    float: left;
}

.backlog:hover, .taskboard:hover, .logout:hover, .projects:hover{
    background-color: steelblue;
}
.logout {
    cursor: pointer;
}

textarea {
    padding: 7px;
    outline: none;
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    resize: none;
}

.new_project {
    position: absolute;
    margin-top: 70px;
    display: inline-block;
}

.my_projects {
    position: absolute;
    margin-top: 70px;
    margin-left: 425px;
    width: 700px;
    height: auto;
    display: inline-block;
}

.modify_project {
    position: absolute;
    margin-top: 70px;
    margin-left: 1150px;
    display: inline-block;
}


#project_name, #project_description {
    width: 300px;
    margin-top:3%;
    margin-left:5%;
}

#project_name {
    width: 310px;
    height: 25px;
}

#project_description {
    height: 300px;
}

#current_project_name {
    width: 310px;
    height: 25px;
    margin-top:3%;
    margin-left:5%;
}

#current_project_description {
    height: 200px;
    width: 300px;
    margin-top:3%;
    margin-left:5%;
}

#create_project_button, #delete_project_button {
    background: #4CAF50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Arial";
    color: white;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    width: 315px ;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 3%;
    border: none;
}

#create_project_button:hover, #delete_project_button:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
}

#delete_project_name {
    display: block;
    margin-left:5%;
    margin-top: 3%;
    width: 310px;
    height: 25px;
}

#new_project {
    font-family: Arial;
    margin-left: 100px;
}

#my_projects {
    font-family: Arial;
    margin-left: 255px;
}

#modify_project {
    font-family: Arial;
    margin-left: 90px;
}

#projects {
    background-color: #4CAF50;
    color: white;
    height: 50px;
    width: 100px;
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
}

#projects:hover {
    cursor: pointer;
    background-color: #3cb0fd;
}

#project {
    text-align: center;
    margin: auto;
}

#error {
    font-family: "Arial";
    color: red;
    font-size: 12px;
    margin-left: 5%;
    margin-top: 1%;
    display: block;
}
