body {
    margin:0;
    background-image: url("background_image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: dodgerblue;
    z-index: 9999;
}

li {
    background-color: dodgerblue;
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4CAF50;
    float: right;
    font-family: "Arial";
}

.backlog, .taskboard, .projects{
    float: left;
}

.logout {
    cursor: pointer;
}

.user:hover, .backlog:hover, .taskboard:hover, .logout:hover, .projects:hover {
    background-color: steelblue;
}